*{
    margin:0;
    font-family: Arial, sans-serif;
    border: border-box; 
}

.navbar{
height: 60px;
background-color: #131921;
color: white;
display: flex;
align-items: center;
}

.nav-logo{
height: 50px;
width: 100px;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border:hover{
    border: 1.5px solid white ;
}

/*** box2 **/
.add-first{
    color: white;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    margin-left: 3px;
    font-size: 1rem;
}

.add-icon{

display: flex;
align-items: center;
}